.toastt {
    position: fixed;
    background: #fff;
    top: 32px;
    right: 25px;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    animation: silde_In_Left ease-in 0.4s, fade_Out linear 1s 5s forwards;
}

@keyframes silde_In_Left {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade_Out {
    to {
        opacity: 0;
    }
}

.toast_icon {
    font-size: 24px;
    padding: 0 16px;
}

.toast_body {
    flex-grow: 1;
}

.toast_title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast_msg {
    font-size: 14px;
    color: rgb(146, 145, 145);
    margin-top: 4px;
    line-height: 1.6rem;
}

.toast_close {
    font-size: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
    margin: auto 10px;
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast_icon {
    color: #47d864;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast_icon {
    color: #ffc021;
}

.toast--info {
    border-color: #1d3ed1;
}

.toast--info .toast_icon {
    color: #1d3ed1;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast_icon {
    color: #ff623d;
}
