@import url("../../index.css");

/* Modal */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
.modal {
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.5;
    --growth-to: 1;
    margin: auto;
    animation: growth linear 0.1s;
}

.create__form {
    width: 500px;
}

.create__form_container {
    padding: 15px 20px;
}

/* Check box */
/* The input-group */
.input-group {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.input-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.input-group:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.input-group input:checked ~ .checkmark {
    background-color: #2196f3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.input-group input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.input-group .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxOptions {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ctrl_btn {
    background: transparent;
    border: 2px solid var(--stroke);
    padding: 5px 15px;
    font-size: 20px;
    line-height: 28px;
    transition: all 0.3s;
    font-weight: 600;
}

.ctrl_btn:hover {
    box-shadow: 1px 3px var(--heading);
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: var(--background);
}
::-webkit-scrollbar-thumb {
    background-color: var(--stroke);
}
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 481px) and (max-width: 768px) {
    .create__form {
        width: 450px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .create__form {
        width: 400px;
    }
    .create__form_container {
        padding: 20px;
    }
}
/* Modal */

input[type="text"].txtTitle::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--card-heading);
    font-style: italic;
}

.table-user {
    border-collapse: collapse;
    text-align: center;
}

.table-user th,
.table-user td {
    padding: 10px 5px;
    border: 1px solid #b8b8b8;
    color: var(--desc);
}

.table-user thead {
    color: var(--heading);
}

.table-user tbody tr:last-of-type {
    border-bottom: 2px solid #b8b8b8;
}

.table-user tbody tr:hover {
    background: var(--secondary);
    cursor: pointer;
}

.table-user button {
    border-radius: 5px;
    border: 2px solid var(--stroke);
    padding: 4px 20px;
    font-size: 17px;
    line-height: 28px;
    transition: all 0.3s;
    font-weight: 400;
    min-width: 0;
}

.table-user button:hover {
    box-shadow: 1px 3px var(--heading);
}

@media (min-width: 481px) and (max-width: 768px) {
    .table-user tbody tr td:nth-child(1),
    .table-user tbody tr td:nth-child(2),
    .table-user tbody tr td:nth-child(3) {
        font-size: 14px;
        line-height: 20px;
    }

    .table-user thead {
        font-size: 14px;
        line-height: 24px;
    }
    .table-user button {
        padding: 5px 10px;
        background: transparent;
    }

    .table-user button i.fa-edit {
        color: var(--heading);
    }

    .table-user button i.fa-trash {
        color: var(--tertiary);
    }

    .table-user button i {
        display: block;
    }
    .table-user button span {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .table-user tbody tr td:nth-child(1),
    .table-user tbody tr td:nth-child(2),
    .table-user tbody tr td:nth-child(3) {
        font-size: 14px;
        line-height: 20px;
    }

    .table-user thead {
        font-size: 14px;
        line-height: 24px;
    }
    .table-user button {
        padding: 5px 10px;
        background: transparent;
    }

    .table-user button i {
        display: block;
    }
    .table-user button span {
        display: none;
    }
}
